body {
  max-width: 800px;
	padding: 0 20px;
  margin-left: auto;
  margin-right: auto;
  overflow-x: hidden;

  font-family: 'Roboto', sans-serif;
}

p {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 30px;
}

.bold {
  font-weight: bold;
  color: #ffae00;
}

.js {
  color: #ffae00;
}

h1, h2 {
  font-weight: normal;
}

.description {
  height: 200px;
  margin: 50px auto;
}

.box {
  position: relative;
  margin: 0 auto;
  top: 50px;
  width: 100px;
  height: 100px;
  border-radius: 10px;
  border: 2px solid #ffae00;
}

.circle {
  position: absolute;
  top: 25px;
  left: -75px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: lightgray;
  transition: transform 0.5s ease 1s;
}

.circle.move {
  transform: translateX(100px);
}

.intro {
  width: 80%;
  margin: 100px auto;
  font-size: 20px;
}

.images-section {
  padding-top: 50px;
}

.intro a, .intro p {
  display: block;
  text-align: center;
}

.text-box {
  margin: 100px 0;
  opacity: 0;
  transition: opacity 1s;
}

.text-box.show {
  opacity: 1;
  color: gray;
}

img {
  width: 450px;
  max-width: 100%;
  height: auto;
}

.github {
  padding: 10px 15px;
  font-size: 18px;
  text-decoration: none;
  color: black;
  border: 2px solid black;
  border-radius: 5px;
}

.github:hover {
  color: white;
  background-color: black;
}

.title {
  font-size: 30px;
  text-align: center;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  margin: 75px 0 50px 0;
}

.comment {
  color: grey;
}

.var {
  color: blue;
}

.method {
  color: goldenrod;
}

.string, .int {
  color: green;
}

.code {
  font-size: 16px;
  border-radius: 10px;
  height: auto;
  padding: 20px 0 0 0;
  background-color: rgba(211,211,211,0.5);
}

@media screen and (max-width: 600px) {
  body {
    padding: 0 10px;
  }

	.description {
		width: 98%;
	}

  .description.code {
    width: 94%;
  }

	.intro {
    width: 90%;
		margin: 75px auto;
	}

	.code {
		padding: 10px 10px 0 10px;
	}

	.code pre {
		margin-left: -80px;
	}

	code {
		font-size: 10px;
	}

	footer {
		padding: 0;
	}

  footer p {
    width: 60%;
  }

	.description-image {
		display: none;
	}
}
